body {
    font-family: sans-serif;
    color: #515151;
    background-color: #fafafa;
}

#content {
    max-width: 1024px;
    padding-left: 10px;
    padding-right: 15px;
}

a {
    color: #e49c27;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #e46121;
}

.subject {
    padding: 5px 25px;
    background-color: #f6ead2;
    border-left: 15px solid #eac494;
}

.author {
    opacity: 0.7;
    font-style: italic;
    font-size: 0.9em;
    width: 100%;
    text-align: right;
}

form input[type="button"], form input[type="submit"] {
    padding: 0;
    border: none;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: transparent;
    font-size: 0.8em;
}

form textarea {
    height: 200px;
    resize: vertical;
}

form input[type="text"], form textarea {
    width: 100%;
    padding: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px solid #d0d0d0;
    transition: 0.3s;
}

form input[type="text"]:hover, form textarea:hover {
    border-color: #d0ab8a;
}

form input[type="button"]:hover, form input[type="submit"]:hover {
    color: #e49c27;
}
