body {
    font-family: sans-serif;
    color: #515151;
    background-color: #fafafa;
}

body div.content {
    max-width: 1024px;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 25px;
}

body div.content .title {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
}

body div.content .menu {
    display: inline-block;
}

body div.content .menu a {
    display: inline-block;
    border-left: 2px solid #e2e2e2;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: #e49c27;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #e46121;
}

.kata {
    margin-top: 10px;
    margin-bottom: 10px;
}

.kata .content {
    padding: 15px 25px;
    background-color: white;
    border-left: 10px solid rgb(191, 200, 144);
}

.kata .content a {
    color: #abc84e;
}

.kata .content a:hover {
    color: #5a7e1f;
}

.kata .author {
    opacity: 0.45;
    font-style: italic;
    font-size: 0.9em;
    width: 100%;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.history {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 45px 15px 25px;
    background-color: white;
    border-left: 10px solid rgb(191, 161, 200);
}

.history .row {
    transition: 0.4s;
}

.history .row:not(.header):hover {
    background-color: rgb(255, 245, 255);
}

.row {
    width: 100%;
    display: flex;
    padding: 8px;
    color: #ababab;
}

.row.header {
    color: #515151;
}

.align-center {
    text-align:center;
}

.row > div {
    padding: 5px 10px;
}

.w-2 {
    width: 16.666666666%;
}

.w-10 {
    width: 83.333333333%;
}

.warning {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
    background-color: #f6ead2;
    border-left: 10px solid #eac494;
}

.info {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
    background-color: rgba(221, 238, 240, 0.4);
    border-left: 10px solid #a2e1ea;
}

.info a {
    color: #a1c7d9;
}

.info a:hover {
    color: #5b94b3;
}

form input[type="button"], form input[type="submit"] {
    padding: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #fffdf5;
    border: 1px solid #ffedd4;
    color: #eec580;
    transition: 0.3s;
}

form textarea {
    height: 200px;
    resize: vertical;
}

form input[type="text"], form input[type="url"], form textarea {
    width: 100%;
    padding: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px solid #f1f1f1;
    transition: 0.3s;
    box-sizing: border-box;
}

form input[type="text"]:hover, form input[type="url"]:hover, form textarea:hover {
    border-color: #d0ab8a;
}

form input[type="button"]:hover,
form input[type="submit"]:hover {
    color: #e49c27;
    cursor: pointer;
}

fieldset {
    border: none;
    border-left: 10px solid #d6d6d6;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    padding: 15px 25px;
}

legend {
    padding: 10px 35px 10px 25px;
    background-color: white;
    color: #4c4c4c;
    margin-left: -35px;
    border-left: 10px solid #d6d6d6;
}
